[package]
name = "libftd2xx-ffi"
version = "0.4.0"  # remember to update html_root_url
description = "Rust FFI bindings to the FTDI D2XX drivers."
keywords = ["ftdi", "ffi", "usb"]
categories = ["external-ffi-bindings"]
authors = ["Alex M. <alexmgit@protonmail.com>"]
edition = "2018"
readme = "README.md"
build = "build.rs"
repository = "https://github.com/newAM/libftd2xx-ffi-rs/"
documentation = "https://docs.rs/libftd2xx-ffi"
license = "MIT"
exclude = [
    "vendor/**/*.dll",
    "vendor/**/*.o",
    "vendor/**/*.so.1.4.8",
    "vendor/**/examples",
    "vendor/linux/**/libusb",
]

[build-dependencies]
bindgen = { version = "~0.55.1", optional = true }

[dev-dependencies]
version-sync = "~0.9.1"

[badges]
maintenance = { status = "passively-maintained" }
